.right {
  float: right;
  padding-right: 4px;
}

.container {
  padding: 2px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.tourneyForm {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitBttn {
  width: 100%;
  background-color: #f4ee42;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitBttn:hover {
  background-color: #f4dc42;
}

.googleBttn {
  background-color: red;
}

.global-nav {
  border-bottom: 1px solid #ba0707;
  height: 46px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: auto;
}

.global-nav-inner {
  background: #fff;
  height: 46px;
}

.global-nav .container {
  background-color: yellow;
  height: 100%;
  text-align: center;
  width: auto;
}

.nav {
  float: left;
}

.nav a {
  color: #4d4d4d;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: block;
}

li {
  display: inline;
  text-align: inherit;
  color: #66757f;
  padding-left: 5px;
}

div {
  display: block;
}

.nav > li > a .text {
  float: left;
  margin-left: 3px;
  margin-top: 17px;
  padding: 0px;
}

.nav a:hover {
  color: red;
  text-decoration: underline;
}

.btn {
  border: none;
  border-radius: 1px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.tourneyList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 1px;

  background-color: red;
}

.tourney {
  border-style: solid;
  border-width: 5px;
}

.header {
  background: url('./images/bax_header_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: auto;
}
